<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--需要监听的服务器IP和端口-->
    <add key ="Ip" value="127.0.0.1"/>
    <add key="Point" value="6666"/>
  </appSettings>
</configuration>